.app {
  padding: 30px;
  background-color: white;
  width: 600px;
  height: 300px;
  border: solid aqua 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.cat {
  width: 400px;
}

.kittens {
  width: 1325px;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
body{
  background-color: lightgray;

}

* {
  box-sizing: border-box;
}